[Desktop Entry]
Version=1.0
Type=Application
Name=Casca
Comment=Transforme sites em apps do Linux
Exec=casca
Icon=com.oliverhub.Casca
Terminal=false
Categories=Utility;GNOME;GTK;Network;
StartupNotify=true
